#!/bin/bash


SERVER=${serverip}
NINTERFACE=${interface}

ping -c2 ${SERVER} > /dev/null

if [ $? != 0 ]
then
    # Restart the wireless interface
	sudo /sbin/ifdown --force ${NINTERFACE}
	sudo /bin/ip link set ${NINTERFACE} up
 	sudo systemctl restart wireless
fi

